@charset "UTF-8";
/*Importação de Fontes do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');
/*CSS Reset (Compatibilizar com todos os navegadores)*/
* {
    margin: 0;
    padding: 0;
    border: 0;

}
/*Layout (Estrutura do site) */
body{
    font-family: "Exo 2", sans-serif;
    font-size: 1em; /*1em = 100% (Tamanho Padrão)*/
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/*cabeçalho */
header {
    height: 91px; /*Altura*/
    background-color: #00ffff; /*Cor*/
}
/*Ajuste de tamanho do Logotipo*/
#logo img{
    width: 64px;  /*Largura*/
    height: 64px; /*Altura*/
    margin: 6px 0px 0px 8px;     /*margem geral*/
    /* margin-top: 6px;  margem superior*/
    /* margin-left: 8px; margem esquerda*/

}

/* SmartPhone Portrait (levantado) */
@media (min-width: 576px) {
   
}
/* Tablet Portrait (levantado) */
@media (min-width: 768px) {
   
}
/* Tablet Landscape (deitado) */
@media (min-width: 992px) {
   
}
/* PCs/Notebooks */
@media (min-width: 1200px) {
   
}
/* Telas FullHD /4K /SmartTV */
@media (min-width: 1400px) {
   
}